.colorBox {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background-color: #000000;
  margin: 20px 0;
}

.cssBox {
  width: 100px;
  height: 20px;
  background-color: #000000;
}

main {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
